Werkzeug
Flask
Flask-Cors
Flask-SocketIO
frozenlist
greenlet
h11
httpcore
httpx
idna
isort
itsdangerous
jedi
Jinja2
MarkupSafe
requests
gunicorn
nepali_datetime
pymongo
cloudinary
python-dotenv
pillow
